*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    position: relative;
    margin: 0 auto;
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
#input1{
    padding: 10px;
    margin:20px;
}
#input3{
    padding: 10px;
    margin:20px;
}
#input2{
    padding: 10px;
    margin:20px;
}
#btn {
    width: 20%;
    margin: auto;
}
#output{
    text-align: center;
}